

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [3]:
listvide=[]
print(listvide)

[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [11]:
x=['fete','salle','meuble','gros',1234, 2.546,'fond']
print(x)

['fete', 'salle', 'meuble', 'gros', 1234, 2.546, 'fond']

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [12]:
long=len(x)
#print(long)

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [19]:
y=x[0]
z=x[3]
h=x[len(x)-1]
print(y,z,h)

fete gros fond

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [20]:
mixed_data_types=['Aissata',10,1.65, 'celibataire','mbour,']
#print(mixed_data_types)

['Aissata', 10, 1.65, 'celibataire', 'mbour,']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [9]:
it_company=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_company)
x=len(it_company)
print(x)
h=it_company[0]
print(h)
z=(len(it_company)-1)//2
print(it_company[z])
print(z)
g=len(it_company)-1
print(it_company[g])
it_company[5]='wave'
print(it_company)
greet=['ATOS']
print(it_company+greet)
it_company.append('ATOS')
print(it_company)
it_company.insert(int(len(it_company)//2),'Express')
print(it_company)
it_company[2].upper()
print('#;'.join(it_company))
if 'Apple' in it_company:
    print("True,'Apple'est dans la liste",it_company)
it_company.sort()
print(it_company)
it_company.reverse()
print(it_company)
del(it_company[0:3])
print(it_company)
del(it_company[-1:-3])
print(it_company)
del(it_company[z])
print(it_company)
del(it_company[0])
print(it_company)
it_company.clear()
print(it_company)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
Apple
3
Amazon
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'wave', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'wave', 'Amazon', 'ATOS']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'wave', 'Amazon', 'ATOS']
['Facebook', 'Google', 'Microsoft', 'Apple', 'Express', 'IBM', 'wave', 'Amazon', 'ATOS']
Facebook#;Google#;Microsoft#;Apple#;Express#;IBM#;wave#;Amazon#;ATOS
True,'Apple'est dans la liste ['Facebook', 'Google', 'Microsoft', 'Apple', 'Express', 'IBM', 'wave', 'Amazon', 'ATOS']
['ATOS', 'Amazon', 'Apple', 'Express', 'Facebook', 'Google', 'IBM', 'Microsoft', 'wave']
['wave', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Express', 'Apple', 'Amazon', 'ATOS']
['Google', 'Facebook', 'Express', 'Apple', 'Amazon', 'ATOS']
['Google', 'Facebook', 'Express', 'Apple', 'Amazon', 'ATOS']
['Google', 'Facebook', 'Express', 'Amazon', 'ATOS']
['Facebook', 'Express', 'Amazon', 'ATOS']
[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [49]:
front_end=['HTML','CSS','JS','React','Redux']
print(front_end)
back_end=['Node','Express','MongoDB']
print(back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux']
['Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [42]:
ages=[19,22,19,24,20,25,26,24,25,24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une oud eux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

1)Cr√©er un dictionnaire vide appel√© dog

In [2]:
dog={}
print(dog)

{}

In [3]:
dog['nom']='Chien'
dog['la couleur']='noir'
dog['la race']='Berger Allmand'
dog['les pattes']=4
dog['l age']=10
print(dog)

{'nom': 'Chien', 'la couleur': 'noir', 'la race': 'Berger Allmand', 'les pattes': 4, 'l age': 10}

3)Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.

In [4]:
student={'prenom':'Aissata','nom':'Diop','sexe':'feminin','l age':9,' l etat civile':'celibataire','les competences':['maths','francais','anglais'],'le pays':'Senegal','la ville':'Dakar','l adresse':'Fass'}
print(student)

{'prenom': 'Aissata', 'nom': 'Diop', 'sexe': 'feminin', 'l age': 9, ' l etat civile': 'celibataire', 'les competences': ['maths', 'francais', 'anglais'], 'le pays': 'Senegal', 'la ville': 'Dakar', 'l adresse': 'Fass'}

4)obtenez la longueur du dictionnaire student

In [6]:
print(len(student))

9

5)R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.

In [7]:
print(student['les competences'])

['maths', 'francais', 'anglais']

In [8]:
type(student['les competences'])

list

6)Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences

In [10]:
student['les competences'].extend(['logique','algebre'])
print(student['les competences'])

['maths', 'francais', 'anglais', 'logique', 'algebre']

In [11]:
list(student.key())

AttributeError: 'dict' object has no attribute 'key'

In [14]:
<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>

SyntaxError: invalid syntax (<ipython-input-14-36652e91ed4d>, line 1)